{% extends "base.html" %}

{% block content %}

    <head>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="{{ url_for('static', filename='themes/assets/js/ie8-responsive-file-warning.js') }}"></script>
        <link href="{{ url_for('static', filename='themes/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='themes/assets/css/carousel.css') }}" rel="stylesheet">
    </head>

    <div class="container">
        <form action="{{ url_for('customer_edit',id=current_user.id) }}" method="POST" class="form-horizontal"
              enctype="multipart/form-data">
            <div class="bodyInner">
                <div class="row">
                    <div class="col-md-offset-5">
                        <h2>Edit Profile</h2>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="email">Email</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="new_email"
                               id="email">
                    </div>
                </div>



                <div class="form-group">
                    <label class="control-label col-md-2" for="address">Address</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="new_address"
                               id="address">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="password">Password</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="new_password"
                               id="password">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="password">Confirm Password</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="confirm_new_password"
                               id="password">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-offset-5">
                        <h2>Edit Payment</h2>
                    </div>
                </div>

                <div>
                    <label class="control-label col-md-2" for="cname">Name on Card</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="cardname">
                    </div>
                </div>
                <div>
                    <label class="control-label col-md-2" for="ccnum">Credit card number</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="ccnum" name="cardnumber"
                        >
                    </div>
                </div>
                <div>
                    <label class="control-label col-md-2" for="expmonth">Exp Month</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="expmonth" name="expmonth"
                        >
                    </div>
                </div>
                <div>
                    <label class="control-label col-md-2" for="expyear">Exp Year</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="expyear" name="expyear">
                    </div>
                </div>
                <div>
                    <label class="control-label col-md-2" for="cvv">CVV</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="cvv" name="cvv">
                    </div>
                </div>
                <div>
                    <label class="control-label col-md-2" for="billingaddr">Billing Address</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="billingaddr" name="billingaddr">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-11 col-md-1">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>



    <!-- Carousel
    ================================================== -->
    <div class="container">
        <br><br><br>
    </div>



    </footer>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ url_for('static', filename='themes/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='themes/assets/js/holder.js') }}"></script>

{% endblock %}