{% extends "base.html" %}

{% block content %}
<head>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="{{url_for('static', filename='themes/assets/js/ie8-responsive-file-warning.js')}}" ></script>
    <link href="{{url_for('static', filename='themes/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='themes/assets/css/carousel.css')}}" rel="stylesheet">
</head>


<div class="container">
    <div class="bodyInner">
         <div class="submitBottom" style="float: right;">
            <button type="button" class="btn btn-primary">Submit</button>
        </div>

        <br><br>

        <div class="profile" style="width: 700px; margin: auto">
            <table id="storeRate" class="table" style="width: 700px;">
                <thead>
                <tr>
                    <th class="col-sm-2">Store Rating</th>
                    <th class="col-sm-2">Comment</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>
                        <form>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">3
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">4
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">5
                            </label>
                        </form>
                    </td>
                    <td>
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

            <table id="cakeRate" class="table" style="width: 700px;">
                <thead>
                <tr>
                    <th class="col-sm-2">Cake Rating</th>
                    <th class="col-sm-2">Comment</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>
                        <form>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">3
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">4
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">5
                            </label>
                        </form>
                    </td>
                    <td>
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

            <table id="deliveryRate" class="table" style="width: 700px;">
                <thead>
                <tr>
                    <th class="col-sm-2">Delivery Rating</th>
                    <th class="col-sm-2">Comment</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>
                        <form>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">3
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">4
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">5
                            </label>
                        </form>
                    </td>
                    <td>
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


<div class="highlightSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="media">
                    <a href="menu/"><img src="http://dev.bombaytakeawayclub.com/assets/img/nepali-momo.png"
                                         alt="nepali-momo"> </a>
                    <h3 class="media-heading text-primary-theme">NEPALESE LAMB MOMO</h3>
                    <p>Steamed dumplings filled with slightly spiced minced meat served with special sauce.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="media"><a href="menu/"><img
                        src="http://dev.bombaytakeawayclub.com/assets/img/gorkha-special-chicken.png"
                        alt="GURKHA SPECIAL CHICKEN"> </a>
                    <h3 class="media-heading text-danger-theme">GURKHA SPECIAL CHICKEN</h3>
                    <p>Boneless chicken marinated in mustard, smoked chilli, herbs and spices slowly cooked in
                        tandoor. </p>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="media">
                    <a href="menu/"><img src="http://dev.bombaytakeawayclub.com/assets/img/lam-tikka.png"
                                         alt="Lam Tikka"> </a>
                    <h3 class="media-heading">LAMB TIKKA SPECIAL</h3>
                    <p>Tender pieces of lamb mixed with our own spices and gently cooked in clay oven. </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="introSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h3>Welcome to restaurent</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                    type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                    essentially unchanged. <br><br>
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                    Ipsum.
                </p>
            </div>

            <div class="col-lg-4">
                <h3>Welcome to restaurent</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                    type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                    essentially unchanged. <br><br>

                </p>

            </div>

            <div class="col-lg-3">
                <h3>Welcome to restaurent</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                    type specimen book.

                </p>

            </div>

        </div>
    </div>
</div>


<!-- FOOTER -->
<footer>
    <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>
</footer>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{url_for('static', filename='themes/dist/js/bootstrap.min.js')}}" ></script>
    <script src="{{url_for('static', filename='themes/assets/js/holder.js')}}" ></script>

{% endblock %}
