{% extends "base.html" %}

{% block content %}
    <head>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="{{ url_for('static', filename='themes/assets/js/ie8-responsive-file-warning.js') }}"></script>
        <link href="{{ url_for('static', filename='themes/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='themes/assets/css/carousel.css') }}" rel="stylesheet">
    </head>


    <div class="container">
        <div class="bodyInner">
            <br><br>

            <div class="profile" style="width: 700px; margin: auto">
                <form action="{{ url_for('rating',id = cart.id) }}" id="form" method="POST">
                    <table id="storeRate" class="table" style="width: 700px;">
                        <thead>
                        <tr>
                            <th class="col-sm-2">Store Rating: Store {{ cart.cook.store_id }}</th>
                            <th class="col-sm-2">Comment</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <label class="radio-inline">
                                    <input type="radio" name="store_rating" value="1">1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="store_rating" value="2">2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="store_rating" value="3">3
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="store_rating" value="4">4
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="store_rating" value="5">5
                                </label>

                            </td>
                            <td>
                                <div class="form-group">
                                        <textarea name="store_comments" class="form-control" rows="5" form="form"
                                                  id="comment"></textarea>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table id="cakeRate" class="table" style="width: 700px;">
                        <thead>
                        <tr>
                            <th class="col-sm-2">Cake Rating: {{ cart.cake.cake_name }}</th>
                            <th class="col-sm-2">Comment</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>

                                <label class="radio-inline">
                                    <input type="radio" name="cake_rating" value="1">1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="cake_rating" value="2">2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="cake_rating" value="3">3
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="cake_rating" value="4">4
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="cake_rating" value="5">5
                                </label>

                            </td>
                            <td>

                                <div class="form-group">
                                    <textarea name="cake_comments" form="form" class="form-control" rows="5"
                                              id="comment"></textarea>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table id="deliveryRate" class="table" style="width: 700px;">
                        <thead>
                        <tr>
                            <th class="col-sm-2">Delivery
                                Rating: {{ cart.deliver.last_name }}, {{ cart.deliver.first_name }} </th>
                            <th class="col-sm-2">Comment</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>

                                <label class="radio-inline">
                                    <input type="radio" name="deliver_rating" value="1">1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="deliver_rating" value="2">2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="deliver_rating" value="3">3
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="deliver_rating" value="4">4
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="deliver_rating" value="5">5
                                </label>

                            </td>
                            <td>

                                <div class="form-group">
                                    <textarea form="form" name="deliver_comments" class="form-control" rows="5"
                                              id="comment"></textarea>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="submitBottom" style="float: right;">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- FOOTER -->
    <footer>
        <div class="container">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ url_for('static', filename='themes/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='themes/assets/js/holder.js') }}"></script>

{% endblock %}
