{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block content %}


    <head>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="{{ url_for('static', filename='themes/assets/js/ie8-responsive-file-warning.js') }}"></script>
        <link href="{{ url_for('static', filename='themes/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='themes/assets/css/carousel.css') }}" rel="stylesheet">
    </head>


    <div class="container">
        <h2>Create an Account</h2>

        <form action="{{ url_for('registration') }}" method="POST" enctype="multipart/form-data">
            <div class="bodyInner">
                <div class="information" style="width: 900px; margin: auto">
                    <h3>Personal Information</h3>
                    <br>
                    <div class="row">
                        <div class="personalInfo">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control" name="firstname" id="firstname" required>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" class="form-control" name="lastname" id="lastname" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="custom-file-label" for="identification">Choose file...</label>
                            <input type="file" name="identification" id="identification">
                            <small id="uploadHelpBlock" class="form-text text-muted">
                                Please upload a picture of you identification
                            </small>
                        </div>
                    </div>


                    <hr>

                    <h3>Login Information</h3>
                    <br>
                    <div class="row">
                        <div class="loginInfo">
                            <div class="form-group col-md-12">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword5">Password</label>
                                <input type="password" id="inputPassword5" name="password" class="form-control"
                                       aria-describedby="passwordHelpBlock" required>
                                <small id="passwordHelpBlock" class="form-text text-muted">
                                    Your password must be 8-20 characters long, contain letters and numbers, and must
                                    not contain spaces, special characters, or emoji.
                                </small>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="password2">Confirm Password</label>
                                <input type="password" id="confirmPassword" name="password2" class="form-control"
                                       aria-describedby="passwordHelpBlock" required>
                            </div>
                            <div>
                                <button class="btn btn-primary" type="submit" style="float: right; width: 80px">Submit
                                </button>
                            </div>
                        </div>
                    </div>

                    <br>
                </div>
            </div>
        </form>
    </div>


    <div class="container">
        <br><br><br><br>
    </div>



    <!-- FOOTER -->
    <footer>
        <div class="container">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ url_for('static', filename='themes/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='themes/assets/js/holder.js') }}"></script>


{% endblock %}



