{% extends "base.html" %}

{% block content %}
    <head>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="{{ url_for('static', filename='themes/assets/js/ie8-responsive-file-warning.js') }}"></script>
        <link href="{{ url_for('static', filename='themes/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='themes/assets/css/carousel.css') }}" rel="stylesheet">

    </head>

    <!-- NAVBAR
    ================================================== -->

    <!--body-->
    <div class="container" style="min-height: 70vh">
        <h2>Customers Application</h2>
        <div class="bodyInner">
            <div class="row">
                <!--Links Table-->
            </div>

            <div class="table-responsive" style="width: 700px; margin: auto">
                <table class="table table-bordered">
                    <tr>
                        <th class="col-sm-1">Customer ID</th>
                        <th class="col-sm-2">Customer Name</th>
                        <th class="col-sm-2">Photo ID</th>
                        <th class="col-sm-2">Email</th>
                        <th class="col-sm-1">Address</th>
                        <th class="col-sm-2">Approve</th>
                        <th class="col-sm-2">Denial</th>
                    </tr>
                    <form action="{{ url_for('application') }}" method="POST">
                        {% for user in me %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.first_name }} {{ user.last_name }}</td>
                                <td><a style="color: black" target="_blank"
                                       href={{ url_for('uploaded_file', filename=user.email+'.png') }}>ID</a></td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.address }}</td>
                                <td style="text-align: center"><input type="submit" name="approve" value="{{ user.id }}"
                                                                      class="btn btn-success" value="Approve"></td>
                                <td style="text-align: center"><input type="submit" name="decline" value="{{ user.id }}" class="btn btn-danger"
                                           value="Approve"></td>
                            </tr>
                        {% endfor %}
                    </form>
                </table>
            </div>
        </div>
    </div>


    <!-- FOOTER -->
    <footer>
        <div class="container">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </div>
    </footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ url_for('static', filename='themes/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='themes/assets/js/holder.js') }}"></script>


{% endblock %}