{% extends "base.html" %}

{% block content %}
<head>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="{{url_for('static', filename='themes/assets/js/ie8-responsive-file-warning.js')}}" ></script>
    <link href="{{url_for('static', filename='themes/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='themes/assets/css/carousel.css')}}" rel="stylesheet">
</head>

<!-- NAVBAR
================================================== -->
<style>
	.vertical-center
	{
		vertical-align: middle !important;
	}
</style>



<!--body-->
<div class="pageTitle">
	<div class="container">
		<h2 style="text-align:center;">Assign Orders</h2>
	</div>
</div>

<br><br>
<div class="container">
	<div class="row">
		<!--List of Orders Table-->
		<div class="col-lg-6">
			<div class ="table-responsive">
			<table class="table table-bordered">
				<thead>
				<tr>
					<th>List of Orders (ID)</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>/</td>
				</tr>
				<tr>
					<td>/</td>
				</tr>
				</tbody>
			</table>
			</div>
		</div>
		<!--Delivery Table-->
		<form>
		<div class="col-lg-6">
			<div class ="table-responsive">
			<table class="table table-bordered">
				<thead>
				<tr>
					<th>Delivery Man Name</th>
					<th>Delivery Man ID</th>
					<th>Order ID</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td rowspan="5" class="vertical-center">Name</td>
					<td rowspan="5" class="vertical-center">ID</td>
					<td><label><input type="text" class="form-control"></label></td>
				</tr>
				<tr>
					<td><label><input type="text" class="form-control"></label></td>
				</tr>
				<tr>
					<td><label><input type="text" class="form-control"></label></td>
				</tr>
				<tr>
					<td><label><input type="text" class="form-control"></label></td>
				</tr>
				<tr>
					<td><label><input type="text" class="form-control"></label></td>
				</tr>
				<tr>
					<td rowspan="5" class="vertical-center">Name</td>
					<td rowspan="5" class="vertical-center">ID</td>
					<td><label><input type="text" class="form-control"></label></td>
				</tr>
				<tr>
					<td><label><input type="text" class="form-control"></label></td>
				</tr>
				<tr>
					<td><label><input type="text" class="form-control"></label></td>
				</tr>
				<tr>
					<td><label><input type="text" class="form-control"></label></td>
				</tr>
				<tr>
					<td><label><input type="text" class="form-control"></label></td>
				</tr>
			</tbody>
			</table>
			</div>
			<!-- Submit Button -->
			<input type="submit" class="btn btn-info" style="float: right" value="Submit">
		</div>
		</form>
	</div>
</div>

    <!-- FOOTER -->
    <footer>
		<div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
		</div>
    </footer>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{url_for('static', filename='themes/dist/js/bootstrap.min.js')}}" ></script>
    <script src="{{url_for('static', filename='themes/assets/js/holder.js')}}" ></script>

{% endblock %}