{% extends "base.html" %}

{% block content %}
<head>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="{{url_for('static', filename='themes/assets/js/ie8-responsive-file-warning.js')}}" ></script>
    <link href="{{url_for('static', filename='themes/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='themes/assets/css/carousel.css')}}" rel="stylesheet">

</head>

<!-- NAVBAR
================================================== -->

<!--body-->
<div class="pageTitle">
	<div class="container">
		<h2 style="text-align:center;">Registered Customers</h2>
	</div>
</div>

<br><br>
<!--Registered customers table-->
<div class="container">
    <div class ="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Customer ID</th>
            <th>Customer Name</th>
            <th>Telephone Number</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td name="id1234">1234</td>
            <td>Example</td>
            <td>/</td>
            <td>/</td>
            <td>/</td>
        </tr>
        <tr>
            <td>5678</td>
            <td>Example2</td>
            <td>/</td>
            <td>/</td>
            <td>/</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>

      <!-- FOOTER -->
      <footer>
		<div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
		</div>
      </footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{url_for('static', filename='themes/dist/js/bootstrap.min.js')}}" ></script>
    <script src="{{url_for('static', filename='themes/assets/js/holder.js')}}" ></script>
{% endblock %}