{% extends "base.html" %}

{% block content %}
<head>
    <link href="{{url_for('static', filename='themes/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='themes/assets/css/carousel.css')}}" rel="stylesheet">
</head>

<!-- NAVBAR
================================================== -->



<div class="pageTitle">
	<div class="container">
		<h2></h2>
	</div>
</div>

<br><br>
<!--Notification main page-->
<div class="container">
	<div class="row">
		<!--Links Table-->
		<div class="col-lg-2">
			<div class ="table-responsive">
			<table class="table table-bordered">
				<tbody>
				<tr>
					<td><a href="{{ url_for('application')}}" style="color:black">Customer Application</a></td>
				</tr>
				<tr>
					<td><a href="{{ url_for('complaint')}}" style="color:black">Customer Complaint</a></td>
				</tr>
                <tr>
					<td><a href="{{ url_for('deliverwarning')}}" style="color:black">Delivery Men Warning</a></td>
				</tr>
				<tr>
					<td><a href="{{ url_for('CookWarning')}}" style="color:black">CookWarning</a></td>
				</tr>
				</tbody>
			</table>
			</div>
		</div>
    </div>
</div>

	<div class="highlightSection">
	<div class="container">
	<div class="row">
		<div class="col-lg-4">
		<div class="media">
			<a href="menu/"><img src="http://dev.bombaytakeawayclub.com/assets/img/nepali-momo.png" alt="nepali-momo"> </a>
			<h3 class="media-heading text-primary-theme">NEPALESE LAMB MOMO</h3>
			<p>Steamed dumplings filled with slightly spiced minced meat served with special sauce.</p>
		</div>
		</div>
		<div class="col-lg-4">
		<div class="media"><a href="menu/"><img src="http://dev.bombaytakeawayclub.com/assets/img/gorkha-special-chicken.png" alt="GURKHA SPECIAL CHICKEN"> </a>
		<h3 class="media-heading text-danger-theme">GURKHA SPECIAL CHICKEN</h3>
		<p>Boneless chicken marinated in mustard, smoked chilli, herbs and spices slowly cooked in tandoor. </p>

		</div>
		</div>
		<div class="col-lg-4">
		<div class="media">
		<a href="menu/"><img src="http://dev.bombaytakeawayclub.com/assets/img/lam-tikka.png" alt="Lam Tikka"> </a>
		<h3 class="media-heading">LAMB TIKKA SPECIAL</h3>
		<p>Tender pieces of lamb mixed with our own spices and gently cooked in clay oven. </p>
		</div>
		</div>
	</div>
	</div>
	</div>



	<div class="introSection">
		<div class="container">
		<div class="row">
		<div class="col-lg-5">
		<h3>Welcome to restaurent</h3>
		<p>
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
		text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
		It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. <br><br>
		It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
		and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</p>
		</div>

		<div class="col-lg-4">
		<h3>Welcome to restaurent</h3>
		<p>
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
		text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
		It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. <br><br>

		</p>

		</div>

		<div class="col-lg-3">
		<h3>Welcome to restaurent</h3>
		<p>
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
		text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

		</p>

		</div>

		</div>
		</div>
	</div>


      <!-- FOOTER -->
      <footer>
		<div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
		</div>
      </footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{% endblock %}