{% extends "base.html" %}

{% block content %}
<head>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="{{url_for('static', filename='themes/assets/js/ie8-responsive-file-warning.js')}}" ></script>
    <link href="{{url_for('static', filename='themes/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='themes/assets/css/carousel.css')}}" rel="stylesheet">

</head>

<!-- NAVBAR
================================================== -->


<!--body-->
<div class="pageTitle">
	<div class="container">
		<h2 style="text-align:center;">Employees Salary Information</h2>
	</div>
</div>

<br><br>
<!--Employees Salary Information table-->
<div class="container">
	<form>
    <div class ="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Position</th>
            <th>Hour</th>
            <th>Rate</th>
            <th>Total Salary</th>
			<th>Select</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>/</td>
            <td>/</td>
            <td>Cooker/Deli.men</td>
            <td>/</td>
            <td>/</td>
            <td>/</td>
			<td><label><input type="checkbox" value=""></label></td>
        </tr>
        <tr>
            <td>/</td>
            <td>/</td>
            <td>/</td>
            <td>/</td>
            <td>/</td>
            <td>/</td>
			<td><label><input type="checkbox" value=""></label></td>
        </tr>
        </tbody>
    </table>
    </div>
	</form>
<!-- Submit Button -->
	<input type="submit" class="btn btn-info" style="float: right" value="Submit">
</div>
      <!-- FOOTER -->
      <footer>
		<div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
		</div>
      </footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{url_for('static', filename='themes/dist/js/bootstrap.min.js')}}" ></script>
    <script src="{{url_for('static', filename='themes/assets/js/holder.js')}}" ></script>
{% endblock %}