{% extends "base.html" %}

{% block content %}

    <head>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="{{ url_for('static', filename='themes/assets/js/ie8-responsive-file-warning.js') }}"></script>
        <link href="{{ url_for('static', filename='themes/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='themes/assets/css/carousel.css') }}" rel="stylesheet">
    </head>

    <div class="container">
        <h2>Edit Profile</h2>

        <form action="{{ url_for('deliver_edit',id=current_user.id) }}" method="POST" class="form-horizontal"
              enctype="multipart/form-data">
            <div class="bodyInner">

                <div class="form-group">
                    <label class="control-label col-md-2" for="email">Email</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="new_email"
                               id="email">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="phone_number">Phone Number</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="new_phone_number"
                               id="phone_number">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="address">Address</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="new_address"
                               id="address">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="password">Password</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="new_password"
                               id="password">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="password">Confirm Password</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="confirm_new_password"
                               id="password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-11 col-md-1">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>



    <!-- Carousel
    ================================================== -->
    <div class="container">
        <br><br><br><br><br>
    </div>



    </footer>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ url_for('static', filename='themes/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='themes/assets/js/holder.js') }}"></script>

{% endblock %}