{% extends "base.html" %}

{% block content %}

    <head>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="{{ url_for('static', filename='themes/assets/js/ie8-responsive-file-warning.js') }}"></script>
        <link href="{{ url_for('static', filename='themes/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='themes/assets/css/carousel.css') }}" rel="stylesheet">


    </head>

    <div class="container" style="min-height: 70vh">
        <h2>Welcome {{ title }} </h2>
        <div class="bodyInner">
            <table id="delivery" class="table table-striped">
                <thead>
                <tr>
                    <th class="col-sm-2">Order ID</th>
                    <th class="col-sm-2">Customer Name</th>
                    <th class="col-sm-2">Address</th>
                    <th class="col-sm-2">Route</th>
                    <th class="col-sm-2">Status</th>
                </tr>
                </thead>

                <!--class="" OR id=""-->

                <tbody>
                {% for cart in logs %}
                    <tr>
                        <td>{{ cart.order_id }}</td>
                        <td>{{ cart.user.last_name }}, {{ cart.user.first_name }}</td>
                        <td>{{ cart.checkout_address }}</td>
                        <td>
                            <a href="{{ url_for('delivery_route', id=cart.id) }}" target="_blank" class="btn btn-primary" type="button"
                               aria-pressed="true">Show
                                Route</a>
                        </td>
                        <td><a href="{{ url_for("deliver_rating", id=cart.id) }}" class="btn btn-danger" type="button"
                               aria-pressed="true">Close this Order</a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ url_for('static', filename='themes/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='themes/assets/js/holder.js') }}"></script>



{% endblock %}



