{% extends "base.html" %}

{% block content %}

    <head>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="{{ url_for('static', filename='themes/assets/js/ie8-responsive-file-warning.js') }}"></script>
        <link href="{{ url_for('static', filename='themes/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='themes/assets/css/carousel.css') }}" rel="stylesheet">

    </head>

    <div class="container" style="min-height: 70vh">
        <h2>Notification</h2>
        <form action="{{ url_for('notification') }}" method="POST" class="form-horizontal"
              enctype="multipart/form-data">
            <div class="bodyInner">
                <table id="notification" class="table table-striped">
                    <thead>
                    <tr>
                        <th class="col-xs-2">Date</th>
                        <th>Message</th>
                        <th></th>
                    </tr>
                    </thead>

                    <!--class="" OR id=""-->
                    <tbody>
                    {% for warning in warnings %}
                        <tr>
                            <td>{{ warning.time_submit }}</td>
                            <td>You received 1 warning, you received total of {{ warning.user.number_of_warning }}
                                warning(s)
                            </td>
                            <td>
                                <button type="submit" name="delete" value="{{ warning.id }}" class="btn btn-danger">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <!-- FOOTER -->
    <footer>
        <div class="container">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ url_for('static', filename='themes/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='themes/assets/js/holder.js') }}"></script>



{% endblock %}

