{% extends "base.html" %}

{% block content %}

    <head>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="{{ url_for('static', filename='themes/assets/js/ie8-responsive-file-warning.js') }}"></script>
        <link href="{{ url_for('static', filename='themes/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='themes/assets/css/carousel.css') }}" rel="stylesheet">

    </head>

    <div class="pageTitle">
        <div class="container">
            <h2>Profile</h2>
        </div>
    </div>

    <div class="container">
        <div class="bodyInner">
            <div class="submitBottom" style="float: right">
                <button type="button" class="btn btn-primary">Edit</button>
            </div>

            <br>

            <div class="profile" style="width: 600px; margin: auto">
                <table id="profileInfo" class="table" style="width: 600px;">
                    <thead>
                    <tr>
                        <th class="col-xs-1">Name</th>
                        <th class="col-xs-1">User ID</th>
                        <th class="col-xs-1">Email</th>
                    </tr>
                    </thead>

                    <!--class="" OR id=""-->
                    <tbody>
                    <tr>
                        <td>Johnny Lee</td>
                        <td>dv334455</td>
                        <td>johnny@gmail.com</td>
                    </tr>
                    </tbody>
                </table>

                <br>

                <table id="profileStatus" class="table" style="width: 300px;">
                    <thead>
                    <tr>
                        <th class="col-xs-2">Status</th>
                        <th class="col-xs-2">Number of Warning</th>
                    </tr>
                    </thead>

                    <!--class="" OR id=""-->
                    <tbody>
                    <tr>
                        <td>delivery man</td>
                        <td>2</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ url_for('static', filename='themes/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='themes/assets/js/holder.js') }}"></script>




{% endblock %}
