{% extends "base.html" %}

{% block content %}

    <head>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="{{ url_for('static', filename='themes/assets/js/ie8-responsive-file-warning.js') }}"></script>
        <link href="{{ url_for('static', filename='themes/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='themes/assets/css/carousel.css') }}" rel="stylesheet">
    </head>

    <div class="container">
        <h2>Welcome Cook!</h2>

        <h3 align="center">Cake and Price Table</h3>

        <div class="bodyInner">

            <div class="buttons_top" style="float: right">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a href="cook/additem" class="btn btn-success" role="button">Add</a>
                    </div>


                    <div class="btn-group">
                        <a href="cook/edititem" class="btn btn-primary" role="button">Modify</a>
                    </div>

                    <div class="btn-group">
                        <a href="cook/dropitem" class="btn btn-danger" role="button">Drop</a>
                    </div>
                </div>
                <br>
            </div>


            <div class="class_table" style="width: 900px; margin: auto">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col-md-3">Cake</th>
                        <th class="col-md-3">Visitor Price</th>
                        <th class="col-md-3">Customer's Price</th>
                        <th class="col-md-3">VIP Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cake in cakes %}
                        <tr>
                            <td>{{ cake.cake_name }}</td>
                            <td>{{ cake.visitor_price }}</td>
                            <td>{{ cake.customer_price }}</td>
                            <td>{{ cake.vip_price }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="buttons_bottom" style="float: right">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a href="cook/additem" class="btn btn-success" role="button">Add</a>
                    </div>


                    <div class="btn-group">
                        <a href="cook/edititem" class="btn btn-primary" role="button">Modify</a>
                    </div>

                    <div class="btn-group">
                        <a href="cook/dropitem" class="btn btn-danger" role="button">Drop</a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>




    <!-- FOOTER -->
    <footer>
        <div class="container">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ url_for('static', filename='themes/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='themes/assets/js/holder.js') }}"></script>

{% endblock %}
