{% extends "base.html" %}

{% block content %}

    <head>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="{{ url_for('static', filename='themes/assets/js/ie8-responsive-file-warning.js') }}"></script>
        <link href="{{ url_for('static', filename='themes/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='themes/assets/css/carousel.css') }}" rel="stylesheet">
    </head>




    <!--body-->
    <div class="container" style="min-height: 70vh">
        <h2>Drop</h2>
        <p><strong>Now you received {{ cook.number_of_drop }} drop(s)</strong></p>
        <div class="bodyInner">
            <div class="row">
                <!--Links Table-->
                <div class="col-md-2">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td><a href="dropped_notification" style="color:black"><strong>Dropped</strong></a></td>
                            </tr>
                            <tr>
                                <td><a href="warning_notification" style="color:black">Warning</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <form action="{{ url_for('dropped_notification')}}" method="POST" class="form-horizontal"
                      enctype="multipart/form-data">
                <div class="col-md-10">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="col-xs-2">Date</th>
                                <th class="col-xs-7">Message</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for dropped_cake in dropped_cakes %}
                            <tr>
                                <td>{{ dropped_cake.time_submit }}</td>
                                <td>{{ dropped_cake.cake.cake_name}} dropped once, now you received {{ dropped_cake.user.number_of_drop }} drop(s)</td>
                                <td><button type="submit" name="delete" value="{{ dropped_cake.id }}" class="btn btn-danger">Delete</button></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ url_for('static', filename='themes/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='themes/assets/js/holder.js') }}"></script>

{% endblock %}


