<!DOCTYPE html>
<html>
<title>Cake</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            {% if current_user.role_id == 7 and current_user.is_authenticated %}
                <li><a href="{{ url_for('manager',id=current_user.id) }}" class="logo"><img
                        src="http://homecookingadventure.com/images/recipes/Chocolate_Mirror_Cake_main.jpg" alt="logo"
                        style="width:60px;height:60px;border:0;"></a></li>

            {% elif current_user.role_id == 6 and current_user.is_authenticated %}
                <li><a href="{{ url_for('cook') }}" class="logo"><img
                        src="http://homecookingadventure.com/images/recipes/Chocolate_Mirror_Cake_main.jpg" alt="logo"
                        style="width:60px;height:60px;border:0;"></a></li>

            {% elif current_user.role_id == 5 and current_user.is_authenticated %}
                <li><a href="{{ url_for('deliver') }}" class="logo"><img
                        src="http://homecookingadventure.com/images/recipes/Chocolate_Mirror_Cake_main.jpg" alt="logo"
                        style="width:60px;height:60px;border:0;"></a></li>

            {% else %}
                <li><a href="{{ url_for('index') }}" class="logo"><img
                        src="http://homecookingadventure.com/images/recipes/Chocolate_Mirror_Cake_main.jpg" alt="logo"
                        style="width:60px;height:60px;border:0;"></a></li>

            {% endif %}
            <li>{{ session['store_address'] }}</li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_anonymous or current_user.role_id == 1 or current_user.role_id == 3 or current_user.role_id == 4 %}
                <li><a href="{{ url_for('menu') }}">Menu</a></li>
                <li><a href="{{ url_for('cart') }}">Cart</a></li>
            {% endif %}

            {% if current_user.role_id == 5 and current_user.is_authenticated %}
                <li><a href="{{ url_for('deliver') }}">Deliver</a></li>
                <li><a href="{{ url_for('deliver_profile',id=current_user.id) }}">Deliver Profile</a></li>
                <li><a href="{{ url_for('deliver_notification') }}">Deliver Notification</a></li>

            {% elif current_user.role_id == 7 and current_user.is_authenticated %}
                <li><a href="{{ url_for('cookwarning') }}">CookWarning</a></li>
                <li><a href="{{ url_for('application') }}">Customer Approval</a></li>
                <li><a href="{{ url_for('order') }}">Order</a></li>
                <li><a href="{{ url_for('deliverwarning') }}">Deliver Warning</a></li>
                <li><a href="{{ url_for('managecustomers') }}">Manage Customer</a></li>
                <li><a href="{{ url_for('paywage') }}">Paywage</a></li>
                <li><a href="{{ url_for('complaint') }}">Customer Complaint</a></li>

            {% elif current_user.role_id == 6 and current_user.is_authenticated %}
                <li><a href="{{ url_for('cook_profile',id=current_user.id) }}">Cook Profile</a></li>
                <li><a href="{{ url_for('additem') }}">Add Item</a></li>
                <li><a href="{{ url_for('dropped_notification') }}">Dropped Notification</a></li>
                <li><a href="{{ url_for('warning_notification') }}">Warning Notification</a></li>

            {% elif (current_user.role_id == 1 or current_user.role_id == 3 or current_user.role_id == 4) and current_user.is_authenticated %}
                <li><a href="{{ url_for('customer_profile',id=current_user.id) }}">Customer Profile</a></li>
                <li><a href="{{ url_for('order_history') }}">Customer Order History</a></li>
            {% else %}

                <li><a href="{{ url_for('registration') }}">Registration</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}

            {% if current_user.is_authenticated %}

                <li><a href="{{ url_for('logout') }}">Logout</a></li>

            {% endif %}
        </ul>
    </div>
</nav>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul style="padding-left: 120px">
            {% for message in messages %}
                <li style="font-weight: bold">
                    {{ message }}
                </li>

            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% block content %}
{% endblock %}

</body>
</html>