<!DOCTYPE html>
<html>
<title>Cake</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script>
        // Get the modal
        var modal = document.getElementById('id01');
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };
    </script>
</head>
<body>
<div class="header">
    <div class="header-right">
        {% if current_user.role_id == 7 and current_user.is_authenticated %}
            <a href="{{ url_for('manager') }}" class="logo"><img
                    src="http://homecookingadventure.com/images/recipes/Chocolate_Mirror_Cake_main.jpg" alt="logo"
                    style="width:60px;height:60px;border:0;"></a>

        {% elif current_user.role_id == 6 and current_user.is_authenticated %}
            <a href="{{ url_for('cook') }}" class="logo"><img
                    src="http://homecookingadventure.com/images/recipes/Chocolate_Mirror_Cake_main.jpg" alt="logo"
                    style="width:60px;height:60px;border:0;"></a>

        {% elif current_user.role_id == 5 and current_user.is_authenticated %}
            <a href="{{ url_for('delivery') }}" class="logo"><img
                    src="http://homecookingadventure.com/images/recipes/Chocolate_Mirror_Cake_main.jpg" alt="logo"
                    style="width:60px;height:60px;border:0;"></a>

        {% else %}
            <a href="{{ url_for('index') }}" class="logo"><img
                    src="http://homecookingadventure.com/images/recipes/Chocolate_Mirror_Cake_main.jpg" alt="logo"
                    style="width:60px;height:60px;border:0;"></a>

        {% endif %}

        <a href="{{ url_for('menu') }}">Menu</a>
        <a href="{{ url_for('description') }}">Description</a>
        <a href="{{ url_for('checkout') }}">Checkout</a>
        <a href="{{ url_for('confirmation') }}">Confirmation</a>

        {% if current_user.role_id == 5 and current_user.is_authenticated %}
            <a href="{{ url_for('delivery') }}">Delivery</a>
            <a href="{{ url_for('delivery_profile') }}">Delivery Profile</a>
            <a href="{{ url_for('delivery_route') }}">Delivery Route</a>

        {% elif current_user.role_id == 7 and current_user.is_authenticated %}
            <a href="{{ url_for('manager') }}">Manager</a>
            <a href="{{ url_for('decidedelivery') }}">Decide Delivery</a>
            <a href="{{ url_for('managecustomers') }}">Manage Customer</a>
            <a href="{{ url_for('paywage') }}">Paywage</a>

        {% elif current_user.role_id == 6 and current_user.is_authenticated %}
            <a href="{{ url_for('cook') }}">Cook</a>
            <a href="{{ url_for('cook_profile') }}">Cook Profile</a>
            <a href="{{ url_for('additem') }}">Add Item</a>
            <a href="{{ url_for('dropped_notification') }}">Dropped Notification</a>
            <a href="{{ url_for('warning_notification') }}">Warning Notification</a>

        {% elif (current_user.role_id == 3 or current_user.role_id == 4) and current_user.is_authenticated %}
            <a href="{{ url_for('customer_profile') }}">Customer Profile</a>
            <a href="{{ url_for('order_history') }}">Customer Order History</a>
            <a href="{{ url_for('rating') }}">Customer Rating</a>
        {% else %}

            <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
            <a href="{{ url_for('registration') }}">Registration</a>
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}

        {% if current_user.is_authenticated %}

            <a href="{{ url_for('logout') }}">Logout</a>

        {% endif %}
    </div>
</div>

<div id="id01" class="modal">
    <form class="modal-content animate" method="post" action="{{ url_for('login') }}" style="width: 600px">

        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <img src="/static/img/login.png" alt="Avatar" class="avatar">
        </div>

        <div class="modal-header">
            <h1>Login</h1>
        </div>


        <div class="modal-body">

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter email" name="email" required>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <button type="submit" style="font-weight: bold">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>

            <div style="float: right; font-weight: bold;">
                <a class="text-muted" href="#">Forgot password?</a>
            </div>
        </div>


        <div class="modal-footer" style="background-color:lightgray">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn"
                    style="float: left">Cancel
            </button>
            <div style="float: right; margin-left: 10px; margin-top: 13px; font-weight: bold">
                <a href="{{ url_for('registration') }}">Create Account</a>
            </div>


            <span class="psw">Forgot <a href="#">password?</a></span>
            
        </div>
    </form>
</div>

<hr>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>
                    {{ message }}
                </li>

            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% block content %}
{% endblock %}

</body>
</html>