{% extends "base.html" %}

{% block content %}

    <html lang="en">
    <head>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="{{ url_for('static', filename='themes/assets/js/ie8-responsive-file-warning.js') }}"></script>
        <link href="{{ url_for('static', filename='themes/assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='themes/assets/css/carousel.css') }}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="static/themes/assets/js/bootstrap.min.js"></script>

    </head>

    <body>
    <br>
    <div class="mainTitle">
        <div class="container">
            <div class="row">
                <h1>Welcome to Lady N {{ session['store_address'] }}</h1>
                <p>
                    The best cake you've ever taste.
                </p>
            </div>
        </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            {% if current_user.is_anonymous %}
                <div class="row">
                    <div class="col-md-4">
                        <h2>Top 3 in our store</h2>
                    </div>
                </div>
                {% for cake in cakes %}
                    {% if loop.index0 < 3 %}
                        <div class="col-lg-4">
                            <img class="img-circle" src="{{ url_for('uploaded_file', filename=cake.photo) }}"
                                 alt="cake_image">
                            <h2>{{ cake.cake_name }}</h2>
                            <p>{{ cake.description }}</p>
                            <p>Price: {{ cake.visitor_price }}</p>
                        </div><!-- /.col-lg-4 -->
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="col-md-4">
                        <h2>Your previous Order</h2>
                    </div>
                </div>
                <div class="row">

                    {% for cake in cakes %}
                        {% if loop.index0 < 3 %}
                            {% if cake.order_id %}
                                <div class="col-lg-4">
                                    <img class="img-circle"
                                         src="{{ url_for('uploaded_file', filename=cake.cake.photo) }}"
                                         alt="cake_image">
                                    <h2>{{ cake.cake.cake_name }}</h2>
                                    <p>{{ cake.cake.description }}</p>

                                </div><!-- /.col-lg-4 -->
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>


    <!-- FOOTER -->
    <footer>
        <div class="container">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/themes/assets/js/bootstrap.min.js   "></script>
    <script src="static/themes/assets/js/holder.js"></script>
    </body>
    </html>
{% endblock %}

