{% extends "base.html" %}


{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
    <div id="wrapper">
        <div class="page-wrapper" style="padding-top: 0px" ;>
            <div class="container">
                <div class="left-space" style="padding-left: 75px; padding-right: 0px" ;>
                    <div class="inner-space" style="margin-top: 7px; min-height: 1000px" ;>
                        <div class="button-left" style="margin-right: 85px">
                            <a href="{{ url_for('customize_cake') }}" type="button" style="float: right"
                               class="btn btn-warning">Customize your own cake</a>
                        </div>
                        <div class="row">
                            <h1 style="margin: 10px 40px">Cakes</h1>
                            {% for cake in cakes %}
                                <div class="cake">
                                    <a href="{{ url_for('description',id=cake.id) }}">
                                        <img src="{{ url_for('uploaded_file', filename=cake.photo) }}"
                                             alt="" width="298px" height="200">
                                        <div class="desc">{{ cake.cake_name }}<br>{{ cake.visitor_price }}</div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}